.hmain{
    min-height: 100vh;
    min-width: 95%;
    margin-left: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hleft{
    font-size: 3rem;
    text-align: left;
    min-width: 60%;
}

.hleft .name{
    font-size: 5.5rem;
    color: #04ecfc;
    margin-left: -1rem;
}

span{
    color: #04ecfc;
}

/* .hright{
    margin-left: 8rem;
} */

.ig{
    border-radius: 30px;
}

.hright .mg{
    position: relative;
    z-index: 2;
    transition-duration: 0.4s;
}

.hright .mg::before{
    content:"";
    width: calc(50% + 30px);
    height: calc(50% + 10px);
    right: -10px;
    bottom: -7px;
    position: absolute;
    z-index: -1;
    transition: all 0.7s;
    background: linear-gradient(to right, #5170ff, #ff66c4);
    border-radius: 30px;
}

.mg:hover::before{
    width: 100%;
    height: 100%;
    opacity: 1;
}