.smain{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12rem;
}

.ido{
    font-size: 4rem;
    margin-top: 5rem;
}

.skills{
    height: 25rem;
    width: 70rem;
    margin: 5rem 0 0 7rem;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    border-width: 4px;
    position: relative;
}

.line{
    position: absolute;
    width: 69.9rem;
    border: 1px solid;
    top: 5rem;
}

.bxs{
    display: flex;
    justify-content: space-evenly;

}

.sbx{
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    align-items: center;
    padding-top: 1rem;
    margin: 4rem 0;
    font-size: xx-small;
    font-family: "Poppins",sans-serif;
    border-radius: 30px;
    transform: rotate(10deg);
}

.sbx .hd{
    font-weight: 700;
    font-size: medium;
}

.sbx div{
    padding-top: .4rem;
}

.pp{
    max-width: 8.3rem;
}
